---
---

@charset "utf-8";

@import "variables";

// From: https://css-tricks.com/snippets/sass/mixin-prefix-properties/
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}

$card-width: 95%;
$drawer-width: 300px;
$padding: 8px;
$poster-color: #FF0000;
$poster-size: 40px;
$progress-height: 2px;
$fab-spacing: 2 * $padding;
$fab-height: 56px + 2 * $fab-spacing;

a {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.episode-entry, .show-entry, .show-summary {
    display: table;
    width: 100%;

    .episode-actions, .episode-date, .show-data, .show-poster {
        display: table-cell;
        vertical-align: middle;
    }
}

.episode-entry {
    padding: $padding 0 $padding 2 * $padding;

    .episode-actions {
        padding: 0 2 * $padding;
        width: $poster-size;
    }
}

.episode-quality {
    border-radius: 3px;
    float: left;
    padding: 3px 5px;
}

.mdl-button.mdl-button--fab {
    bottom: $fab-spacing;
    position: fixed;
    right: $fab-spacing;
}

.mdl-card {
    color: $text-color-invert;
    min-height: 0;
    margin: 2 * $padding auto;
    padding: 2 * $padding;
    width: $card-width;

    &.show-summary {
        padding: 0;
    }

    p {
        margin: $padding / 2 0 $padding / 2 0;
    }
}

.mdl-layout__drawer {
    background-color: $background-color;
    border-right: none;
    color: $text-color;
    width: $drawer-width;

    @include prefix(transform, translateX(-$drawer-width), webkit ms);

    .mdl-layout-title {
        background-color: $primary-color;

        img {
            padding: 2 * $padding $padding;
        }
    }

    .mdl-navigation .mdl-navigation__link {
        color: $text-color;

        &:hover {
            color: $primary-color;
            background-color: $hover-color;
        }

        .material-icons {
            padding-left: $padding;
            padding-right: 2 * $padding;
            vertical-align: middle;
        }
    }
}

.mdl-layout__header-row {
    padding-right: 0;
}

.mdl-menu {
    background-color: $background-color;

    .mdl-menu__item {
        color: $text-color;

        &:hover {
            background-color: $hover-color;
        }
    }
}

.mdl-progress {
    height: $progress-height;
    width: 100%;

    > .bufferbar {
        background: #888888;
    }

    > .progressbar {
        background-color: $accent-color;
    }
}

.show-entry, .show-summary {
    .show-poster {
        height: $poster-size;
        padding: 2 * $padding;
        width: $poster-size;

        div {
            background-color: $poster-color;
            border-radius: $poster-size / 2;
            height: $poster-size;
            width: $poster-size;
        }
    }

    .show-data {
        padding: $padding 2 * $padding $padding 0;
    }
}

.shows-list {
    margin-bottom: $fab-height;
}

.show-summary {
    height: 100%;
    width: $card-width;

    .show-poster {
        height: 100%;
        padding: 0;
        padding-right: 2 * $padding;
        width: 30%;

        div {
            border-radius: 0;
            display: table;
            height: 100%;
            width: 100%;

            span {
                display: table-cell;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}
