---
---

@charset "utf-8";

@import "variables";

$logo-size: 48px;

a {
    color: $text-color;
}

body {
    background-color: $background-color;
    color: $text-color;
}

.mdl-layout__drawer .mdl-layout-title img {
    height: $logo-size;
    width: $logo-size;
}

.mdl-layout__header, .mdl-layout__tab-bar {
    background-color: $primary-color;
}

.mdl-data-table tr td, .mdl-data-table tr td a {
    color: $text-color-invert;
}

.responsive-table {
    margin-bottom: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
}

.table-of-content {
    $toc-border-width: 4px;
    $toc-padding: 20px;

    border-left: $toc-border-width solid $accent-color;
    list-style-type: none;
    margin-left: $toc-border-width + $toc-padding;
    padding-left: $toc-padding;

    & a {
        color: $text-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

#demo-app {
    margin: 0 auto 40px auto;
    width: 40%;
}

@media screen and (max-width:1024px) {
    #demo-app {
        width: 100%;
    }
}
