---
layout: demo
title: Episode Name
menu:
- {
    icon: cast,
    title: Cast on Google Cast™
}
- {
    icon: play_arrow,
    title: Stream episode
}
overflow:
- {
    title: Set status
}
tabs:
- {
    id: episode24,
    title: E24
}
- {
    id: episode23,
    title: E23
}
- {
    id: episode22,
    title: E22
}
- {
    id: episode21,
    title: E21
}
- {
    id: episode20,
    title: E20
}
- {
    id: episode19,
    title: E19
}
- {
    id: episode18,
    title: E18
}
- {
    id: episode17,
    title: E17
}
- {
    id: episode16,
    title: E16
}
- {
    id: episode15,
    title: E15
}
- {
    id: episode14,
    title: E14
}
- {
    id: episode13,
    title: E13
}
- {
    id: episode12,
    title: E12
}
- {
    id: episode11,
    title: E11
}
- {
    id: episode10,
    title: E10
}
- {
    id: episode9,
    title: E09
}
- {
    id: episode8,
    title: E08
}
- {
    id: episode7,
    title: E07
}
- {
    id: episode6,
    title: E06
}
- {
    id: episode5,
    title: E05
}
- {
    id: episode4,
    title: E04
}
- {
    id: episode3,
    title: E03
}
- {
    id: episode2,
    title: E02
}
- {
    id: episode1,
    title: E01
}
---

<div class="has-fab">
    {% for i in (1..24) reversed %}
        <section class="mdl-layout__tab-panel{% if forloop.first %} is-active{% endif %}" id="episode{{ i }}">
            <div class="mdl-card mdl-shadow--4dp">
                <span class="mdl-typography--subhead">Episode Name {{ i }}</span>

                <p>Airs: Monday 8:00 PM</p>
                <p>Status: Downloaded</p>
                <p>Qualiry: 1080p WEB-DL</p>
            </div>

            <div class="mdl-card mdl-shadow--4dp">
                <span class="mdl-typography--subhead">Plot</span>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus laoreet vestibulum lacus a consequat. Aliquam condimentum pretium elit, vitae laoreet tellus. Donec convallis nisl non ante egestas scelerisque. Sed consequat dapibus odio vel interdum. Aliquam laoreet elit neque, vel blandit enim iaculis eget. Suspendisse potenti. Fusce enim tellus, dapibus aliquam euismod at, ultricies et velit. Mauris pellentesque leo urna.</p>
            </div>

            <div class="mdl-card mdl-shadow--4dp">
                <span class="mdl-typography--subhead">Casting</span>

                <p>Directors: John Doe</p>
                <p>Writers: John Doe</p>
                <p>Actors: John Doe</p>
            </div>

            <div class="mdl-card mdl-shadow--4dp">
                <span class="mdl-typography--subhead">Award</span>

                <p>42 wins & 24 nominations</p>
            </div>

            <div class="mdl-card mdl-shadow--4dp">
                <span class="mdl-typography--subhead">More Information</span>

                <p>Language: English (USA)</p>
                <p>Year: 2010</p>
                <p>Rated: TV-14</p>
                <p>Runtime: 22 min</p>
                <p>IMDb Rating: 8.3/10 (84,420 votes)</p>
                <p>Genre: Comedy</p>
                <p>File size: 4.5 GB</p>
                <p>Location: /home/videos/Show Name/Episode Name {{ i }}.mkv</p>
            </div>
        </section>
    {% endfor %}
</div>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">search</i>
</button>
