<!DOCTYPE html>
<html>
<head>
    <link href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.indigo-yellow.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ '/css/main.css' | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet">
    <link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="canonical">
    <link href="{{ '/assets/favicon.ico' | prepend: site.baseurl | prepend: site.url }}" rel="icon" type="image/x-icon">

    <meta charset="utf-8">
    <meta name="theme-color" content="#09769F">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <title>{{ page.title }} | {{ site.title }}</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{ page.title }}</span>
        </div>
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            <img alt="{{ site.title }}" src="https://raw.githubusercontent.com/MGaetan89/ShowsRage/master/app/src/main/res/mipmap-hdpi/ic_launcher.png" title="{{ site.title }}"/>
            {{ site.title }}
        </span>

        <nav class="mdl-navigation">
            {% assign pages = site.pages | sort:"weight" %}
            {% for my_page in pages reversed %}
                {% if my_page.title and my_page.layout != 'demo' %}
                    <a class="mdl-navigation__link" href="{{ my_page.url | prepend: site.baseurl | prepend: site.url }}">{{ my_page.title }}</a>
                {% endif %}
            {% endfor %}

            <hr>

            <a class="mdl-navigation__link" href="https://play.google.com/store/apps/details?id=com.mgaetan89.showsrage" target="_blank">Play Store</a>
            <a class="mdl-navigation__link" href="https://github.com/MGaetan89/ShowsRage" target="_blank">GitHub</a>
            <a class="mdl-navigation__link" href="https://www.paypal.me/MGaetan89" target="_blank">Donate</a>
        </nav>
    </div>

    <main class="mdl-layout__content">
        {{ content }}
    </main>
</div>

<script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
</body>
</html>
