<!DOCTYPE html>
<html>
<head>
    <link href="https://code.getmdl.io/1.1.3/material.indigo-yellow.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ '/css/main.css' | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet">
    <link href="{{ '/css/demo.css' | prepend: site.baseurl | prepend: site.url }}" rel="stylesheet">
    <link href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" rel="canonical">
    <link href="{{ '/assets/favicon.ico' | prepend: site.baseurl | prepend: site.url }}" rel="icon" type="image/x-icon">

    <meta charset="utf-8">
    <meta name="theme-color" content="#09769F">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <title>{{ page.title }} | {{ site.title }}</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{ page.title }}</span>

            <div class="mdl-layout-spacer"></div>

            {% if page.menu %}
                <nav class="mdl-navigation">
                    {% for menu in page.menu %}
                        <a class="material-icons mdl-navigation__link" id="menu-{{ menu.icon }}">
                            {{ menu.icon }}
                        </a>
                        <div class="mdl-tooltip" for="menu-{{ menu.icon }}">{{ menu.title }}</div>
                    {% endfor %}
                </nav>
            {% endif %}

            {% if page.overflow %}
                <button class="mdl-button mdl-js-button mdl-button--icon" id="menu-overflow">
                    <i class="material-icons">more_vert</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-overflow">
                    {% for menu in page.overflow %}
                        <li class="mdl-menu__item">
                            {% if menu.checkable %}
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" style="width: 100%;">
                                <input{% if menu.checked %} checked{% endif %} class="mdl-radio__button" name="overflow" type="radio">
                                    <span class="mdl-radio__label">{{ menu.title }}</span>
                                </label>
                            {% else %}
                                {{ menu.title }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% if page.tabs %}
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                {% for tab in page.tabs %}
                    <a href="#{{ tab.id }}" class="mdl-layout__tab{% if forloop.first %} is-active{% endif %}">{{ tab.title }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </header>

    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            <img alt="{{ site.github.project_title }}" src="https://raw.githubusercontent.com/MGaetan89/ShowsRage/master/app/src/main/res/mipmap-hdpi/ic_launcher_white.png" title="{{ site.github.project_title }}"/>
            {{ site.github.project_title }}
        </span>

        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{ '/demo/shows/list.html' | prepend: site.baseurl | prepend: site.url }}">
                <span class="material-icons">tv</span>
                Shows
            </a>
            <a class="mdl-navigation__link" href="{{ '/demo/schedule.html' | prepend: site.baseurl | prepend: site.url }}">
                <span class="material-icons">schedule</span>
                Schedule
            </a>
            <a class="mdl-navigation__link" href="{{ '/demo/history.html' | prepend: site.baseurl | prepend: site.url }}">
                <span class="material-icons">history</span>
                History
            </a>
            <a class="mdl-navigation__link" href="{{ '/demo/logs.html' | prepend: site.baseurl | prepend: site.url }}">
                <span class="material-icons">list</span>
                Logs
            </a>
            <a class="mdl-navigation__link" href="">
                <span class="material-icons">trending_up</span>
                Statistics
            </a>

            <hr>

            <a class="mdl-navigation__link" href="">
                <span class="material-icons">settings</span>
                Settings
            </a>
            <a class="mdl-navigation__link" href="">
                <span class="material-icons">tune</span>
                Post Processing
            </a>
            <a class="mdl-navigation__link" id="drawer-check-update">
                <span class="material-icons">system_update</span>
                Check for update
            </a>
            <!-- TODO Change with Toast or Snackbar -->
            <div class="mdl-tooltip" for="drawer-check-update">Check for new version of SickRage</div>
            <a class="mdl-navigation__link" id="drawer-restart">
                <span class="material-icons">replay</span>
                Restart
            </a>
            <!-- TODO Change with Toast or Snackbar -->
            <div class="mdl-tooltip" for="drawer-restart">Restart SickRage</div>
        </nav>
    </div>

    <main class="mdl-layout__content">
        {{ content }}
    </main>
</div>

<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</body>
</html>
